.XObtn{
    padding: 20px;
    margin: 10px;
    font-size: 25px;
    border-radius: 20px;
    cursor: pointer;
    background: #f31e1e;
    box-shadow: 0px 0px 30px green;
}



.Game{
    width: 800px;
    height: 550px;
    background: #72d5d5;
    margin: 100px auto;
    border-radius: 30px;
    
}
.Game-Items{
    padding: 0px 100px 20px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.Game h2{
    padding-bottom: 50px;
    text-align: center;
    font-size: 30px;
    color: green;
}

.Game h1{
    padding: 30px;
    color: #040746;
    margin: auto;
    font-weight: bold;
}

.XObtn.filled {
  background-color: #4caf50; /* green */
  color: white;
}