.container{
    margin: 50px 550px;
    background: aquamarine;
    padding: 30px;
    border-radius: 30px;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 500px;
    font-size: 20px;
    margin: auto;
    border-radius: 30px;
}

td, th{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
h1{
    text-align: center;
    width: 500px;
}


