/* body{
    background: linear-gradient(45deg, red,green,blue,pink);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.form{
    margin: auto;
    padding: 50px;
    height: 100vh;
    background: #49a4e1;
    width: 1000px;
    border: 3px solid red;
    border-radius: 20px;
}
fieldset{
    height: 100vh;
    border-radius: 50px;
}
legend{
    margin: auto;
    border: 5px dashed red;
    padding: 30px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: rgb(79, 227, 205);
    color: blue;
    font-size: 30px;
    font-weight: bold;
}

table{
    position: relative;
    width: 800px;
    height: 50vh;
    margin: 20px auto;
    padding: 40px;
    background: aqua;
    border-radius: 30px;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}


tr,input{
    margin-bottom: 30px;
}

input{
    margin-left: 20px;
    width: 400px;
    padding: 15px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}

label{
    width: 100px;
    font-size: 30px;
    font-weight: bold;
}

.radio{
    display: flex;
    align-items: center;
    gap: 20px; 
}
.radio input[type="radio"] {
    width: auto; 
    margin-left: 10px;
    transform: scale(1.5);
    padding-top: 5px;
}

input[type="Date"]{
    margin-left: 20px;
    width: 300px;
    padding: 13px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}

button{
    width: 600px;
    margin-left: 38px;
    padding: 15px;
    background: burlywood;
    color: blue;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}

input::placeholder{
    font-size: 20px;
    color: rgb(150, 203, 168);
    font-weight: bold;
} */