/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


/* .Image-con{
  height: 400px;
  width: 400px;
  background-color: aqua;
  cursor: pointer;
} */

/* .image{
  height: 400px;
  width: 400px;
  cursor: pointer;
} */

/* 
  //Add Image Css

.add-container{
  width: 800px;
  height: 80vh;
  border: 2px solid black;
  text-align: center;
  margin: 70px auto;
  background: #7aede8;
  border-radius: 40px;
}

.img-container{
  height: 400px;
  width: 400px;
  border: 2px solid black;
  margin: 50px auto;
  cursor: pointer;
  background-color: #bfd3d3;
  border-radius: 30px;
}

button{
    padding: 15px 30px;
    border-radius: 30px;
    border: 2px solid yellow;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

h3{
  padding-top: 150px;
}

.Img{
  border-radius: 32px;
  display: block;
  height: 380px;
  width: 380px;
  border: 2px solid black;
  margin: 50px auto;
  cursor: pointer;
} */


.light{
  background-color: lightcyan;
  color: black;
  padding: 100px;
  font-size: 20px;

}
.black{
  background-color: black;
  color: #fff;
  padding: 100px;
  font-size: 20px;
}

.ReducerForm{
  margin: auto;
  padding: 100px 30px;
  

}
.ReducerForm input{
  margin: 10px;
  padding: 10px;
  background-color: aqua;
  font-size: 25px;
  border-radius: 20px;
}

.ReducerForm button{
  padding: 10px ;
  background-color: blueviolet;
  color: #fff;
  font-size: 25px;
  border-radius: 20px;
}
.ReducerForm h1{
  margin: 20px auto;
  color: blue;
}

.ReducerCount{
  margin: auto;
  padding: 50px;
  width: 500px;
  height: 500px;
}

.ReducerCount h1{
  margin-left: 200px ;
  text-align: center;
  color: blue;
  padding: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: aqua;
}

.ReducerCount button{
  margin-left: 60px;
  padding: 20px;
  border-radius: 20px;
  background-color: aqua;
  cursor: pointer;
}

.UseCall input{
  padding: 20px;
  margin-right: 20px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.UseCall button{
  padding: 20px 40px;
  border-radius: 20px;
  cursor: pointer;
}

.UseCall h1{
  margin: 30px auto;
  font-size: 40px;
  color: aliceblue;
}
.CallbackList{
  margin-top: 20px;
  padding: 30px;
  font-size: 25px;
  background-color: gray;
  width: 350px;
  border-radius: 20px;
  font-weight: bold;
}
*{
  margin: 0;
  padding: 0;
}
body{
  background: #6a6565;
}
.Header{
  width: 100%;
  height: 10vh;
  background: aqua;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
  text-decoration: none;
}

.Header .r-link{
  text-decoration: none;
  color: inherit;
}


.Web{
  width: 100%;
  margin: 50px auto;
}

.Web h1{
  width: 100%;
  margin: auto;
}

h1{
  color: #fff;
}

.Web img{
  width: 100%;
  margin: 30px auto;
  height: 60vh;
}

.items{
  margin: 20px 0;
}

.items ul{
  padding: 30px;
  background: aqua;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.items ul li{
  font-size: 18px;
  color: #fff;
  list-style: none;
  text-decoration: none;
}

.i-link{
  text-decoration: none;
  color: #333;
  font-weight: 400;
}

.ChatApp{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 800px;
  background: aqua;
  height: 60vh;
  border-radius: 30px ;
}

.chat{
  
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
}
.chat h1{
  color: black;
}

.chat textarea,input,button{
  padding: 15px;
  font-size: 15px;
  color: black;
  font-weight: bold;
  border-radius: 20px;
}

.chat input,button{
  cursor: pointer;
  
}

.chat textarea::placeholder{
    font-weight: bold;
    font-size: 15px;
}

.data{
  margin: 20px 40px;
}

.data h2{
  text-align: center;
  margin-bottom: 20px;
}

.data ul li{
  margin-bottom: 20px;
  font-size: 25px;
}